<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Firehive</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Firehive
                    </a>
                </li>
                <li>
                    <a onclick="toggle()">Dashboard</a>
                </li>
                <li>
                    <a onclick="toggle()">Configurations</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Account</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

                <img src="{{ url_for('static', filename='images/logo.jpeg') }}">
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div id="config" style='display:block;'>
                        <form action="/" method="POST">

                            <h2>Max Byte Size:</h2>
                            <select name="cars">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30" selected>30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                            </br>
                            </br>

                            <h2>Max Rate of Network Traffic:</h2>
                           <select name="cars">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30" selected>30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                            </br>
                            </br>

                            <h2>Security Level</h2>
                            <select name="sec_flags">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high" selected>High</option>
                            </select>
                            </br>
                            </br>

                            <h2>Protocols Allowed:</h2></br>
                            Zigbee <input type="checkbox" value="Zigbee" checked></br>
                            Wifi <input type="checkbox" value="Wifi" checked></br>
                            Bluetooth <input type="checkbox" value="Bluetooth" checked></br>
                            Ethernet <input type="checkbox" value="Ethernet" checked></br>
                            ANT <input type="checkbox" value="ANT" checked></br>
                            UDP <input type="checkbox" value="UDP" checked></br>

                            <input type="submit" name="save" value="Save">

                        </form>
                    </div>
                    <div id="dashboard" style='display:none;'>
                        <iframe src="https://search-houseshark-ixotnqxkzathhe3en6ql2egzha.us-east-1.es.amazonaws.com/_plugin/kibana/app/kibana#/dashboard/c852dc70-50d1-11e7-a25d-09f5e0eb4084?embed=true&_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A2189'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3A'2017-06-13T19%3A56%3A10.738Z'%2Cinterval%3A'1s'%2Cmode%3Aabsolute%2Ctimezone%3AAmerica%2FMexico_City%2Cto%3A'2017-06-13T19%3A56%3A31.118Z'))" height="650" width="1000"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">

        function toggle() {
            var dash = document.getElementById('dashboard');
            var config = document.getElementById('config');

            var temp = dash.style.display;
            dash.style.display = config.style.display;
            config.style.display = temp;
        }

    </script>

</body>

</html>
